* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --balck: #000000;
  --main-color: #2947a9;
  --secondary-color: #f9995d;
  --title-color: #292e3d;
  --text-color: #525b7a;
  --alt-text-color: #c2c7d6;
  --section-padding: 60px;
  --h1-size: 72px;
  --h2-size: 36px;
  --h3-size: 20px;
  --text-size: 20px;
  --alt-text-size: 18px;
  --line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
section {
  padding: var(--section-padding) 0;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.text-center {
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 100px;
  font-size: var(--h2-size);
  color: var(--title-color);
}
.btn {
  display: block;
  width: 150px;
  padding: 15px 25px;
  text-align: center;
  border-radius: 2px;
  color: var(--white);
  background-color: var(--main-color);
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  background-color: var(--white);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul a {
  color: var(--balck);
}
header nav ul .active {
  color: var(--secondary-color);
}
@media (max-width: 991px) {
  header nav {
    position: relative;
  }
  header nav label img {
    cursor: pointer;
  }
  header nav input {
    appearance: none;
  }
  header nav input:checked + ul {
    display: block;
  }
  header nav ul {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    min-width: 250px;
    border-radius: 8px;
    background-color: var(--white);
  }
  header nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.2);
  }
  header nav ul a {
    display: block;
    padding: 10px;
  }
}
@media (min-width: 992px) {
  header nav label,
  header nav input {
    display: none;
  }
  header nav ul {
    display: flex;
    gap: 25px;
  }
}
.hero {
  height: calc(100vh - 88px);
  background-image: url(../images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero h1 {
  font-size: var(--h1-size);
  color: var(--title-color);
}
@media (max-width: 991px) {
  .hero h1 {
    font-size: 60px;
  }
}
.our-reputation .cards-list {
  gap: 40px;
}
.our-reputation .cards-list .card {
  width: 280px;
  border: 2px solid rgb(0 0 0 / 0.1);
  border-radius: 6px;
  padding: 30px 20px;
}
.our-reputation .card h3 {
  margin: 20px 0;
  font-size: var(--h3-size);
  font-weight: bold;
  color: var(--title-color);
}
.our-reputation .card p {
  color: var(--alt-text-color);
  line-height: var(--line-height);
}
.about-us .col {
  width: 100%;
  padding: 40px;
  color: var(--white);
  background-color: var(--main-color);
}
@media (min-width: 992px) {
  .about-us .container {
    position: relative;
  }
  .about-us .col {
    position: absolute;
    right: 0;
    width: fit-content;
  }
}
.about-us .col h2 {
  margin-bottom: 30px;
  font-size: var(--h2-size);
  color: var(--white);
}
.about-us .col p {
  margin-bottom: 20px;
  line-height: var(--line-height);
}
.about-us .col a {
  display: block;
  width: fit-content;
  padding: 15px;
  margin-top: 50px;
  border-radius: 4px;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--white);
}
.services {
  background-color: rgba(0, 0, 0, 0.04);
}
.services-list {
  gap: 40px;
}
.services-list .service {
  width: 280px;
  text-align: center;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--white);
}
.services-list .service img {
  padding-bottom: 25px;
}

.services-list .service a {
  display: block;
  padding-top: 25px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}
.services-list .service a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 1px;
  border-bottom: 2px solid rgb(0 0 0 / 0.1);
}
.services-list .service-2 {
  background-color: var(--main-color);
}
.services-list .service-2 a {
  color: var(--white);
}
.services-list .service-2 a::after {
  border-bottom: 2px solid var(--white);
}
.statistics .container {
  gap: 40px;
}
@media (min-width: 992px) {
  .statistics .col {
    width: 45%;
  }
}
.statistics .col h2 {
  font-size: var(--h2-size);
  color: var(--main-color);
}
.statistics .col p {
  margin: 25px 0;
  line-height: var(--line-height);
  color: var(--text-color);
}
.consultation {
  background-image: url(../images/image-2.webp);
}
.consultation .container {
  gap: 40px;
  color: var(--white);
}
.consultation .container h2 {
  font-size: var(--h2-size);
  color: var(--white);
}
.consultation .container p {
  margin-top: 25px;
  color: var(--alt-text-color);
}
.consultation .container .btn {
  width: fit-content;
  border: 2px solid var(--white);
  background-color: transparent;
}
.projects .container {
  justify-content: space-between;
  align-items: stretch;
  gap: 25px;
}
@media (max-width: 991px) {
  .projects .container {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .projects .col-1 {
    width: 40%;
  }
  .projects .col {
    width: 55%;
  }
}
.projects .col-1 h2 {
  margin-bottom: 25px;
  font-size: var(--h2-size);
  color: var(--title-color);
}
.projects .col-1 ul li {
  margin-left: 25px;
  padding: 10px 0;
}
.projects .col-1 ul li .link {
  color: var(--main-color);
}
.projects .col-1 ul li .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
}
.projects .col-1 ul li a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: var(--alt-text-color);
}
.projects .col-1 ul li a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 3px;
  height: 100%;
  background-color: var(--main-color);
}
.projects .col-1 ul li a:hover {
  color: var(--main-color);
}
.projects .col {
  gap: 40px;
}
.projects .col .card {
  width: 270px;
}
.projects .col .card {
  color: var(--white);
  background-color: var(--main-color);
}
.projects .col .card .info {
  padding: 10px;
}
.projects .col .card .info h3 {
  margin-bottom: 10px;
}
.informations {
  background-color: rgba(0, 0, 0, 0.04);
}
.informations h2 {
  font-size: var(--h2-size);
  color: var(--title-color);
}
.informations p {
  margin: 25px 0;
  line-height: var(--line-height);
}
.informations form div {
  display: flex;
  gap: 50px;
}
@media (max-width: 991px) {
  .informations form div {
    flex-wrap: wrap;
    gap: 0;
  }
}
.informations input[type="text"],
.informations input[type="email"] {
  display: block;
  width: 50%;
  padding: 10px 15px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .informations input[type="text"],
  .informations input[type="email"] {
    width: 100%;
  }
}
.informations input[type="text"],
.informations input[type="email"],
textarea {
  border: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(0 0 0 / 0.1);
}
textarea {
  width: 100%;
  padding: 20px;
}
.informations .btn {
  width: 200px;
  margin: auto;
  border: none;
  cursor: pointer;
}
.contact-us .container {
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 991px) {
  .contact-us .container {
    justify-content: center;
  }
}
.contact-us .container .col:first-child p {
  margin-bottom: 15px;
}
.contact-us .container .col:first-child span {
  font-weight: bold;
  color: var(--main-color);
}
.contact-us label {
  font-weight: bold;
  color: var(--main-color);
}
.contact-us input {
  display: inline-block;
  padding: 10px;
  margin: 20px 0 40px 0;
  border: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(0 0 0 / 0.1);
}
.contact-us .col div:last-child {
  display: flex;
  gap: 10px;
}
.contact-us .col:last-child a {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--secondary-color);
}
.contact-us .col:last-child p {
  margin: 15px 0;
  font-weight: bold;
  color: var(--main-color);
}
footer {
  padding: 30px 0;
  color: var(--white);
  background-color: var(--main-color);
}